@model MoralesFiFthCRUD.ViewModels.UserProfileViewModel
@{
    ViewBag.Title = "Userprofile";
}
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>User Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/Userprofile.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #006400;">
        <div class="container">
            <a class="navbar-brand" href="#">Plant Shop</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <!-- Use ml-auto to push items to the right -->
                    <li class="nav-item">
                        <a class="nav-link" href="#">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Profile</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-10"><h1 class="mt-4 mb-4">User Profile</h1></div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <!--left col-->
                <div class="text-center">
                    <div class="avatar-container">
                        <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar" style="width: 150px; height: 150px;">
                    </div>
               
                    <!-- Disable file upload -->
                    
                </div><hr><br>
                <div class="panel panel-default">
                    <div class="panel panel-default">
                        <div class="panel-heading">Website <i class="fa fa-link fa-1x"></i></div>
                        <div class="panel-body"><a href="http://PLANTSHOP.com">PLANTSHOP.com</a></div>
                    </div>
                </div>
                <div class="edit-section">
                    <h5 class="text-center mb-3">EDIT</h5>
                    <div class="form-group btn-group d-flex justify-content-center">
                        <button type="button" class="btn btn-success" id="SaveBtn" style="display:none;">Save</button>
                        <button type="button" class="btn btn-primary" id="editBtn">Edit</button>
                        <button type="button" class="btn btn-danger" id="resetBtn" style="display:none;">Reset</button>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <ul class="nav nav-tabs">
                    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#home">Home</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="home">
                        <hr>
                        <form class="form" action="@Url.Action("Update", "Home")" method="post" id="UpdateForm">
                            @Html.AntiForgeryToken()

                            @Html.HiddenFor(m => m.id) <div class="form-group">
                                <label for="first_name"><h4>First name</h4></label>
                                <input type="text" class="form-control" name="Firstname" id="first_name" placeholder="firstname" title="Enter your first name if any." value="@Model.firstname" disabled>
                            </div>
                            <div class="form-group">
                                <label for="last_name"><h4>Last name</h4></label>
                                <input type="text" class="form-control" name="Lastname" id="last_name" placeholder="lastname" title="Enter your last name if any." value="@Model.lastname" disabled>
                            </div>
                            <div class="form-group">
                                <label for="user_name"><h4>Username</h4></label>
                                <input type="text" class="form-control" name="username" id="user_name" placeholder="username" title="Enter your username if any." value="@Model.username" disabled>
                            </div>
                            <div class="form-group">
                                <label for="phone"><h4>Phone number</h4></label>
                                <input type="text" class="form-control" name="phonenumber" id="phone" placeholder="Phone number" title="Enter your phone number if any." value="@Model.phonenumber" disabled>
                            </div>
                            <div class="form-group">
                                <label for="email"><h4>Email</h4></label>
                                <input type="email" class="form-control" name="email" id="email" placeholder="Email" title="Enter your email." value="@Model.Email" disabled>
                            </div>
                            <div class="form-group">
                                <label for="location"><h4>Location</h4></label>
                                <input type="text" class="form-control" name="address" id="location" placeholder="Location" title="Enter your location" value="@Model.Address" disabled>
                            </div>
                            <div class="form-group password-input">
                                <label for="password"><h4>Password</h4></label>
                                <div class="input-group">
                                    <input type="password" class="form-control" name="password" id="password" placeholder="Password" title="Enter your password." value="model.password" disabled>
                                </div>
                            </div>

                            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
                            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
                            <script>
                                $(document).ready(function () {
                                    $("#editBtn").click(function () {
                                        // Enable input fields
                                        $("#first_name, #last_name, #phone, #email, #location,#user_name,#password").prop("disabled", false);

                                        // Show Save and Reset buttons, hide Edit button
                                        $("#SaveBtn, #resetBtn").show();
                                        $("#editBtn").hide();
                                    });

                                    $("#SaveBtn").click(function () {
                                        // Submit the form
                                        $("#UpdateForm").submit();
                                    });

                                    $("#resetBtn").click(function () {
                                        // Disable input fields
                                        $("#first_name, #last_name, #phone, #email, #location").prop("disabled", true);

                                        // Reset input fields to their original values (replace with your logic)
                                        $("#first_name").val("@Model.firstname");
                                        $("#last_name").val("@Model.lastname");
                                        // ... reset other fields ...

                                        // Show Edit button, hide Save and Reset buttons
                                        $("#editBtn").show();
                                        $("#SaveBtn, #resetBtn").hide();
                                    });
                                });

                            </script>
</body>
</html>